:root {
    --maincolor: #5271ff;
    --mainfont:  "Fira Sans", sans-serif;
    --font2: "Oswald", sans-serif;
}

body {
    overflow-x: hidden;
}

nav {
    height: 160px;
    background-color: transparent;
    box-shadow: none;
    --webkit-box-shadow: none;
}

.nav-logo {
    width: 200px;
    margin: 30px 80px 0px 0px;
    animation: .7s slide-right ease-in;
    animation-fill-mode: forwards;
}

ul li a {
    color: black;
    font-family: var(--mainfont);
}

nav ul a.btn {
    margin-top: 15px;
}

.profile-container {
    margin-right: 20px;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}

.dropdown-trigger {
    color: black;
    font-family: var(--font2);
    display: flex;
    align-items: center;
    background: transparent;
    float: right;
    height: 39%;
}

.profile-image {
    width: 25px;
    margin-left: 2px;
}

.profile-name {
    margin: 0px;
    color: black;
    position: relative;
    bottom: 20px;
    font-family: var(--font2);
}

.material-icons {
    color: black;
}

label {
    color: black !important;
    font-family: var(--mainfont);
    font-weight: 300;
}

@media only screen and (min-width: 400px){
    .nav-logo {
        margin: 0px 0px 0px 20px;
    }
}