:root {
    --maincolor: #5271ff;
    --mainfont: "Fira Sans", sans-serif;
    --font2: "Oswald", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    box-shadow: 0px 0px 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.material-icons {
    color: black;
}

.logo-top {
    width: 200px;
}

.white-icon {
    color: white !important;
}

.account-circle {
    font-size: 50px;
}

.sidenav {
    background-color: var(--maincolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
}

.sidenav-trigger {
    margin-left: 40px;
}

.logo-side-container {
    margin-top: 20px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-side-container li a {
    font-family: var(--mainfont);
    color: white;
}

.logo-small {
    width: 100px
}

header,
main,
footer {
    padding-left: 300px;
}

.profile-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-button-container li a {
    color: white;
    font-family: var(--font2);
    font-size: 20px;
}

#logout-button:hover {
    cursor: pointer;
}

h2 {
    font-family: var(--mainfont);
    font-size: 50px;
    font-weight: 800;
    color: var(--maincolor);
    margin-left: 20px;
}

.folders {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: 50px 20px 0px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--maincolor);
    border-bottom: 1px solid var(--maincolor);
}
.folder {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folder:hover {
    cursor: pointer;
}

.folder-icons {
    font-size: 100px;
    color: cyan;
    margin-top: 0px;
}

h3 {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-family: var(--font2);
}

.library-title {
    display: flex;
    align-items: center;
}

h4 {
    font-family: var(--mainfont);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.current-library-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-folder {
    font-size: 40px;
}

.add-piece {
    font-size: 35px;
    color: var(--maincolor);
    margin-left: 30px;
    margin-top: 10px;
}

th {
    color: var(--maincolor);
}

.piece-name {
    font-weight: 800;
}

.trash {
    color: black !important;
}
.trash:hover {
    cursor: pointer;
    color: red!important;
}
@media only screen and (max-width: 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}