:root {
    --maincolor: #5271ff;
    --mainfont:  "Fira Sans", sans-serif;
}

body {
    background: url(../images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.title-container {
    animation: .7s slide-right ease-in;
    animation-fill-mode: forwards;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    } 100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.landing-photo {
    position: absolute;
    bottom: 0;
    right: -100px;
    z-index: -1;
    animation: .7s slide-up ease-in;
    animation-fill-mode: forwards;
}

.music-notes {
    position: absolute;
    bottom: -50px;
    right: 100px;
    z-index: -2;
    animation: 3s slide-up ease-in;
    animation-fill-mode: forwards;
    animation-delay: .2s;        
    opacity: 0;
    transform: translateY(20px);
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.logo {
    width: 100%;
    margin: 20px 0px 50px 20px;
}

.login {
    margin: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    padding: 20px 50px;
    border-radius: 26px;
    background-color: var(--maincolor);
    color: white;
}

.login:hover {
    cursor: pointer;
    background-color: blue;
}


